@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

:root{
    --background-base : #f3f3f3;
    --primary-color: #333333;
    --secondary-color: #a0a18e;
}

body{
    padding: 0px;
    margin: 0px;
}

main{
    max-width: 1366px;
    width: 100%;
    background: url(/svg/background.svg) fixed;
    background-color: var(--background-base);
    background-size: 100%;
    min-height: 200vh;
    /* transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1); */
}

feather.icon.x{
    color: var(--primary-color);
    width: 20px;
    height: 20px;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.h-vh80{
    padding: 15vh;
    min-height: 80vh;
}

.btn{
    cursor: pointer;
    gap: 10px;
    font-weight: 600;
    min-height: 40px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-base);
    font-size: medium;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.page{
    padding: 80px 150px;
}

.list img{
    width: 50px;
    padding: 10px 0px;
}